<span class="sleeve left" style="background-color: {{ baseColor }};">
	<span class="decoration stripeLow" style="background-color: {{ decorationColor }};"></span>
</span>
<span class="sleeve right" style="background-color: {{ baseColor }};">
	<span class="decoration stripeLow" style="background-color: {{ decorationColor }};"></span>
</span>