{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Change password | My Account{% endblock %}

{% block fos_user_content %}
	<h1 class="headline">Change password</h1>

	<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
		{{ form_widget(form) }}
		<div class="formRow clearfix">
			<button type="submit" class="right">{{ 'change_password.submit'|trans }}</button>
		</div>
	</form>
{% endblock fos_user_content %}
