{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Check your email | Password reset{% endblock %}

{% block fos_user_content %}
	<h1>Check your email</h1>
	<div class="flashSuccess">{{ 'resetting.check_email'|trans({'%email%': email}) }}</div>
{% endblock %}
