{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<h1>Forgotten password</h1>
	<div class="flashError">{{ 'resetting.password_already_requested'|trans }}</div>

	<p><a href="{{ path('fos_user_resetting_request') }}">&lt; &lt; Back</a></p>
{% endblock fos_user_content %}
