{% extends '::base.html.twig' %}

{% block title %}{{ horse.name }} | Edit{% endblock %}

{% block body %}
	<p>Edit: {{ horse.name }}</p>

	{{ form(form) }}

	<a href="{{ path('horse_view', { id: horse.id }) }}" class="button secondary">Cancel</a>
{% endblock %}