{% extends '::base.html.twig' %}

{% block title %}{{ jockey.name }} | Edit{% endblock %}

{% block body %}
	<p>Edit: {{ jockey.name }}</p>

	{{ form(form) }}

	<a href="{{ path('jockey_view', { id: jockey.id }) }}" class="button secondary">Cancel</a>
{% endblock %}