<span class="body" style="background-color: {{ baseColor }};">
	<span class="decoration chevron" style="background-color: {{ decorationColor }};"><span style="background-color: {{ baseColor }};"></span></span>
</span>