<span class="body" style="background-color: {{ baseColor }};">
	<span class="decoration quarterCross" style="border-left-color: {{ decorationColor }}; border-right-color: {{ decorationColor }};"></span>
</span>