<span class="body" style="background-color: {{ baseColor }};">
	<span class="decoration quarterTop" style="background-color: {{ decorationColor }};"></span>
	<span class="decoration quarterBottom" style="background-color: {{ decorationColor }};"></span>
</span>